[Desktop Entry]
Version=1.0
Type=Link
Name=flor.png
Comment=
Icon=user-bookmarks
URL=https://github.com/alura-cursos/site-acessivel/commit/87a10c46edf414f2ba3fb08d26cab5778968ef9b#diff-c0eba5ac39938447e1b38e9db4b3992b53747bafb716fb0c7923dfbfc7c83de4
