[Desktop Entry]
Version=1.0
Type=Link
Name=flor-bottom-direita.png
Comment=
Icon=user-bookmarks
URL=https://github.com/alura-cursos/site-acessivel/commit/87a10c46edf414f2ba3fb08d26cab5778968ef9b#diff-26218ed1da7dec822219b35fcc3c1e6ce6b5d03b2fae35824d67f2613f4b0a57
