[Desktop Entry]
Version=1.0
Type=Link
Name=logo.png
Comment=
Icon=user-bookmarks
URL=https://github.com/alura-cursos/site-acessivel/commit/87a10c46edf414f2ba3fb08d26cab5778968ef9b#diff-b6317eb3bb22c5c7871b67a460bcb8f458dbda0ed687848a7e12ac69c4ae925e
