[Desktop Entry]
Version=1.0
Type=Link
Name=lossy-page1-640px-Caetano_Veloso_no_III_Festival_da_Música_Popular.tif.jpg
Comment=
Icon=user-bookmarks
URL=https://github.com/alura-cursos/site-acessivel/commit/87a10c46edf414f2ba3fb08d26cab5778968ef9b#diff-678d41ddeed04795d51af823e649c971f8ad1ecb06f703cc2145e509d76a77b5
