[Desktop Entry]
Version=1.0
Type=Link
Name=lossy-page1-640px-Jorge_Ben_e_o_Trio_Mocotó_no_Teatro_da_Lagoa,_1971.tif.jpg
Comment=
Icon=user-bookmarks
URL=https://github.com/alura-cursos/site-acessivel/commit/87a10c46edf414f2ba3fb08d26cab5778968ef9b#diff-d22b7a5566bf27a1f84c263ae0d1cabf6422b16abe3064e782e19a8864ef1950
